In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

## EDA Inicial

In [2]:
# Ruta del archivo
ruta = r"C:\Users\marta\Desktop\mibootcamp\ETL_IBIShotels\data\reservas_hoteles.parquet"

# Leer el archivo Parquet con pandas
df_raw = pd.read_parquet(ruta, engine="pyarrow")

# Ignorar el índice del DataFrame
df_raw = df_raw.reset_index(drop=True)

df_raw.head()

,id_reserva,id_cliente,nombre,apellido,mail,competencia,fecha_reserva,inicio_estancia,final_estancia,id_hotel,precio_noche,nombre_hotel,estrellas,ciudad
0,5256cc90-139b-43d2-8ec5-412495d751cf,346f2a77-33f4-4b2d-82f3-e8501e21b28d,Feliciana,Cantón,feliciana.cantón@example.com,True,,2025-03-01,2025-03-02,113,NaN,,NaN,
1,84fd6209-bd8d-4a92-bfe6-c68ee2c49271,346f2a77-33f4-4b2d-82f3-e8501e21b28d,Leonardo,Hierro,leonardo.hierro@example.com,True,,2025-03-01,2025-03-02,194,NaN,,NaN,
2,40c4cb55-d1f5-407b-832f-4756b8ff77b4,6ec4d7d2-e382-47cc-94f6-c647577d4035,Maite,Calatayud,maite.calatayud@example.com,False,2025-02-09,2025-03-01,2025-03-02,14,119.96,Hotel Monte Verde,1.0,Madrid
3,f2ce8df5-7844-43e1-8c0f-97ce7a208f21,aed17fe8-eb18-4f69-bf08-df1afdc339c3,Tecla,Bonet,tecla.bonet@example.com,False,2025-02-08,2025-03-01,2025-03-02,38,211.53,Hotel Brisas del Mar,5.0,Madrid
4,57d4515a-447d-4067-afcb-9bdcf4e4e915,710a2fbb-264f-426a-aa66-f8fffd146a2d,Amílcar,Andrés,amílcar.andrés@example.com,False,2025-02-02,2025-03-01,2025-03-02,35,378.37,Hotel Camino del Sol,1.0,Madrid

In [ ]:
df = df_raw.copy()
df = pd.DataFrame(df)
df.head()

,id_reserva,id_cliente,nombre,apellido,mail,competencia,fecha_reserva,inicio_estancia,final_estancia,id_hotel,precio_noche,nombre_hotel,estrellas,ciudad
0,5256cc90-139b-43d2-8ec5-412495d751cf,346f2a77-33f4-4b2d-82f3-e8501e21b28d,Feliciana,Cantón,feliciana.cantón@example.com,True,,2025-03-01,2025-03-02,113,NaN,,NaN,
1,84fd6209-bd8d-4a92-bfe6-c68ee2c49271,346f2a77-33f4-4b2d-82f3-e8501e21b28d,Leonardo,Hierro,leonardo.hierro@example.com,True,,2025-03-01,2025-03-02,194,NaN,,NaN,
2,40c4cb55-d1f5-407b-832f-4756b8ff77b4,6ec4d7d2-e382-47cc-94f6-c647577d4035,Maite,Calatayud,maite.calatayud@example.com,False,2025-02-09,2025-03-01,2025-03-02,14,119.96,Hotel Monte Verde,1.0,Madrid
3,f2ce8df5-7844-43e1-8c0f-97ce7a208f21,aed17fe8-eb18-4f69-bf08-df1afdc339c3,Tecla,Bonet,tecla.bonet@example.com,False,2025-02-08,2025-03-01,2025-03-02,38,211.53,Hotel Brisas del Mar,5.0,Madrid
4,57d4515a-447d-4067-afcb-9bdcf4e4e915,710a2fbb-264f-426a-aa66-f8fffd146a2d,Amílcar,Andrés,amílcar.andrés@example.com,False,2025-02-02,2025-03-01,2025-03-02,35,378.37,Hotel Camino del Sol,1.0,Madrid

In [4]:
df_col_fecha = df[["fecha_reserva", "inicio_estancia", "final_estancia"]]
df_col_fecha

      fecha_reserva inicio_estancia final_estancia
0                        2025-03-01     2025-03-02
1                        2025-03-01     2025-03-02
2        2025-02-09      2025-03-01     2025-03-02
3        2025-02-08      2025-03-01     2025-03-02
4        2025-02-02      2025-03-01     2025-03-02
...             ...             ...            ...
15093    2025-02-02      2025-03-01     2025-03-02
15094    2025-02-07      2025-03-01     2025-03-02
15095    2025-02-08      2025-03-01     2025-03-02
15096    2025-02-10      2025-03-01     2025-03-02
15097    2025-02-06      2025-03-01     2025-03-02

[15098 rows x 3 columns]

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15098 entries, 0 to 15097
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id_reserva       15098 non-null  object
 1   id_cliente       15098 non-null  object
 2   nombre           15098 non-null  object
 3   apellido         15098 non-null  object
 4   mail             15098 non-null  object
 5   competencia      15098 non-null  bool
 6   fecha_reserva    15098 non-null  object
 7   inicio_estancia  15023 non-null  object
 8   final_estancia   15023 non-null  object
 9   id_hotel         15098 non-null  int64
 10  precio_noche     9874 non-null   float64
 11  nombre_hotel     15098 non-null  object
 12  estrellas        9926 non-null   float64
 13  ciudad           15098 non-null  object
dtypes: bool(1), float64(2), int64(1), object(10)
memory usage: 1.5+ MB

Transformación inicial 

- transformación de co.fecha_reserva, incio_estancia, final_etancia check
- hay nulos en las columnas: inicio_estancia, final_instancia, precio_noche, nombre_hotel, estrellas.
- analizar duplicados
- asegurarse del tipo de dato es el correcto

In [6]:
def convertir_a_fecha(lista_columnas, dataframe):
    for col in lista_columnas:
        dataframe[col] = pd.to_datetime(dataframe[col], errors='coerce')
    return dataframe

In [7]:
col_fechas = ['inicio_estancia', 'final_estancia', 'fecha_reserva']
df = convertir_a_fecha(col_fechas, df)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15098 entries, 0 to 15097
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id_reserva       15098 non-null  object
 1   id_cliente       15098 non-null  object
 2   nombre           15098 non-null  object
 3   apellido         15098 non-null  object
 4   mail             15098 non-null  object
 5   competencia      15098 non-null  bool
 6   fecha_reserva    9926 non-null   datetime64[ns]
 7   inicio_estancia  15023 non-null  datetime64[ns]
 8   final_estancia   15023 non-null  datetime64[ns]
 9   id_hotel         15098 non-null  int64
 10  precio_noche     9874 non-null   float64
 11  nombre_hotel     15098 non-null  object
 12  estrellas        9926 non-null   float64
 13  ciudad           15098 non-null  object
dtypes: bool(1), datetime64[ns](3), float64(2), int64(1), object(7)
memory usage: 1.5+ MB

In [8]:
df.select_dtypes(include=['object']).columns  # Columnas categóricas

Index(['id_reserva', 'id_cliente', 'nombre', 'apellido', 'mail',
       'nombre_hotel', 'ciudad'],
      dtype='object')

In [9]:
df.select_dtypes(include=['number']).columns  # Columnas numéricas

Index(['id_hotel', 'precio_noche', 'estrellas'], dtype='object')

opción 2. para covertir a fecha: NO FUNCIONA

In [10]:
##visto en clase1
def conver_fecha(dataframe):
    for col in dataframe.columns:
        if "fecha" in col:
            dataframe[col] = pd.to_datatime(dataframe[col])
    return dataframe

In [11]:
def convertir_fecha(dataframe):
    for col in dataframe.filter(like="fecha", axis=1):
        dataframe[col] = pd.to_datetime(dataframe[col], errors='coerce')  # Forzar conversión
    return dataframe

# Aplicar la conversión a todas las columnas que contengan "fecha"
df = convertir_fecha(df)

# Verificar tipos de datos
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15098 entries, 0 to 15097
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id_reserva       15098 non-null  object
 1   id_cliente       15098 non-null  object
 2   nombre           15098 non-null  object
 3   apellido         15098 non-null  object
 4   mail             15098 non-null  object
 5   competencia      15098 non-null  bool
 6   fecha_reserva    9926 non-null   datetime64[ns]
 7   inicio_estancia  15023 non-null  datetime64[ns]
 8   final_estancia   15023 non-null  datetime64[ns]
 9   id_hotel         15098 non-null  int64
 10  precio_noche     9874 non-null   float64
 11  nombre_hotel     15098 non-null  object
 12  estrellas        9926 non-null   float64
 13  ciudad           15098 non-null  object
dtypes: bool(1), datetime64[ns](3), float64(2), int64(1), object(7)
memory usage: 1.5+ MB

In [12]:
df.describe().T

,count,mean,min,25%,50%,75%,max,std
fecha_reserva,9926,2025-02-06 10:27:43.993552384,2025-02-01 00:00:00,2025-02-03 00:00:00,2025-02-06 00:00:00,2025-02-09 00:00:00,2025-02-12 00:00:00,NaN
inicio_estancia,15023,2025-02-28 23:59:59.999999744,2025-03-01 00:00:00,2025-03-01 00:00:00,2025-03-01 00:00:00,2025-03-01 00:00:00,2025-03-01 00:00:00,NaN
final_estancia,15023,2025-03-02 00:00:00,2025-03-02 00:00:00,2025-03-02 00:00:00,2025-03-02 00:00:00,2025-03-02 00:00:00,2025-03-02 00:00:00,NaN
id_hotel,15098.0,65.950192,2.0,27.0,40.0,114.0,194.0,57.832033
precio_noche,9874.0,275.11772,50.01,163.12,273.315,387.83,499.82,129.405972
estrellas,9926.0,3.012694,1.0,2.0,3.0,4.0,5.0,1.412446

In [13]:
df = convertir_fecha(df)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15098 entries, 0 to 15097
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id_reserva       15098 non-null  object
 1   id_cliente       15098 non-null  object
 2   nombre           15098 non-null  object
 3   apellido         15098 non-null  object
 4   mail             15098 non-null  object
 5   competencia      15098 non-null  bool
 6   fecha_reserva    9926 non-null   datetime64[ns]
 7   inicio_estancia  15023 non-null  datetime64[ns]
 8   final_estancia   15023 non-null  datetime64[ns]
 9   id_hotel         15098 non-null  int64
 10  precio_noche     9874 non-null   float64
 11  nombre_hotel     15098 non-null  object
 12  estrellas        9926 non-null   float64
 13  ciudad           15098 non-null  object
dtypes: bool(1), datetime64[ns](3), float64(2), int64(1), object(7)
memory usage: 1.5+ MB

Incosistencia en los datos:

In [31]:
df["nombre_hotel"].nunique()

20

In [44]:
df["id_hotel"].nunique()

29

In [42]:
df['id_cliente'].nunique()

14847

In [43]:
df["id_reserva"].nunique()

15000

- debería haber los mismos nombres de hoteles que de id_hotel
- debería hacer los mismos id_clientes que id_reserva

In [40]:
df["id_hotel"].groupby(df["nombre_hotel"]).unique()

nombre_hotel
                          [113, 194, 131, 114, 103, 181, 128, 186, 135, ...
Gran Hotel Madrid         [47, 6, 13, 15, 35, 14, 49, 28, 48, 38, 40, 43...
Hotel Brisas del Mar      [38, 28, 36, 49, 29, 35, 6, 14, 47, 33, 27, 43...
Hotel Camino del Sol      [35, 47, 13, 15, 48, 40, 19, 49, 33, 28, 27, 3...
Hotel Costa Azul          [40, 48, 38, 13, 15, 19, 28, 49, 36, 27, 14, 2...
Hotel Encanto Real        [43, 28, 35, 14, 47, 6, 38, 33, 36, 19, 3, 15,...
Hotel Jardines del Rey    [3, 33, 2, 35, 47, 49, 15, 36, 29, 38, 43, 13,...
Hotel Las Estrellas       [29, 28, 40, 47, 6, 14, 49, 13, 36, 48, 35, 38...
Hotel Los Almendros       [28, 3, 35, 49, 43, 29, 36, 33, 47, 6, 14, 15,...
Hotel Luz de Madrid       [13, 2, 36, 15, 27, 47, 35, 33, 38, 40, 49, 14...
Hotel Maravilla Real      [40, 28, 49, 48, 14, 38, 29, 15, 6, 19, 2, 35,...
Hotel Mirador Real        [3, 14, 47, 15, 28, 43, 33, 36, 29, 49, 6, 2, ...
Hotel Monte Verde         [14, 29, 40, 13, 6, 15, 33, 43, 38, 36, 19, 28...
Hotel Palacio Imperial    [27, 36, 2, 13, 43, 40, 15, 19, 35, 14, 47, 28...
Hotel Puerta del Cielo    [36, 40, 43, 13, 38, 6, 47, 27, 48, 35, 3, 49,...
Hotel Rincón Sereno       [6, 3, 49, 2, 48, 13, 28, 33, 14, 35, 47, 36, ...
Hotel Sol y Luna          [29, 19, 47, 15, 27, 36, 40, 14, 2, 28, 35, 13...
Hotel Torre Dorada        [14, 29, 36, 48, 40, 2, 13, 47, 35, 6, 3, 38, ...
Hotel Vista Alegre        [29, 2, 38, 48, 27, 47, 35, 49, 3, 28, 33, 14,...
Palacio del Sol           [6, 13, 14, 35, 28, 15, 19, 36, 47, 38, 29, 2,...
Name: id_hotel, dtype: object

Gestión de nulos

In [14]:
def porcentaje_nulos(dataframe):
    porcentaje = dataframe.isnull().mean() * 100
    return porcentaje

# Ver el porcentaje de nulos por columnas
porcentaje_nulos(df)

id_reserva          0.000000
id_cliente          0.000000
nombre              0.000000
apellido            0.000000
mail                0.000000
competencia         0.000000
fecha_reserva      34.256193
inicio_estancia     0.496755
final_estancia      0.496755
id_hotel            0.000000
precio_noche       34.600609
nombre_hotel        0.000000
estrellas          34.256193
ciudad              0.000000
dtype: float64

In [17]:
df.shape

(15098, 14)

In [18]:
def porcentaje_nulos_filas(dataframe):
    porcentaje = dataframe.isnull().mean(axis=1) * 100
    return porcentaje

# Ver el porcentaje de nulos por filas
porcentaje_nulos_filas(df)

0        14.285714
1        14.285714
2         0.000000
3         0.000000
4         0.000000
           ...
15093     0.000000
15094     0.000000
15095     0.000000
15096     0.000000
15097     0.000000
Length: 15098, dtype: float64

Análisis de duplicados

In [19]:
# Verificar duplicados en el DataFrame
duplicados = df.duplicated()
print(f'Número de filas duplicadas: {duplicados.sum()}')

# Mostrar las filas duplicadas
df[duplicados]

Número de filas duplicadas: 98

,id_reserva,id_cliente,nombre,apellido,mail,competencia,fecha_reserva,inicio_estancia,final_estancia,id_hotel,precio_noche,nombre_hotel,estrellas,ciudad
15000,9894646a-716a-4a9d-b504-6d05cff706d3,659980f2-c213-4eed-bddf-1bfebc8dc985,Marianela,Pablo,marianela.pablo@example.com,False,2025-02-09,2025-03-01,2025-03-02,29,246.07,Hotel Puerta del Cielo,5.0,Madrid
15001,9754807a-8685-4198-b843-6dc991377377,a8b5e355-d76c-4836-af7d-57021d03228b,Victor,Santamaria,victor.santamaria@example.com,False,2025-02-07,2025-03-01,2025-03-02,49,169.14,Hotel Los Almendros,5.0,Madrid
15002,2a5ea0d1-9584-4458-8a08-e276d7cbbc3a,0f0150df-7805-41dd-84c5-5aadd6816086,Ámbar,Benito,ámbar.benito@example.com,False,2025-02-02,2025-03-01,2025-03-02,19,198.87,Hotel Palacio Imperial,4.0,Madrid
15003,0ba826ae-751c-4cd1-9147-b4c36dd4fc72,c91e350d-1193-41de-834a-1940955e91b6,Tito,Amorós,tito.amorós@example.com,False,2025-02-12,2025-03-01,2025-03-02,14,54.32,Hotel Las Estrellas,1.0,Madrid
15004,1e5d7ead-36e9-4b22-b870-9a122355b763,4ca7383c-3e0c-4403-b0dc-f2a022edb524,Gabriel,Cruz,gabriel.cruz@example.com,False,2025-02-10,2025-03-01,2025-03-02,19,405.23,Hotel Jardines del Rey,5.0,Madrid
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15093,49c9a352-a260-46fb-9edc-a2c2d05fdfb9,cc50c0c1-a589-44b7-8a41-2c731d033f89,Victoriano,Miralles,victoriano.miralles@example.com,False,2025-02-02,2025-03-01,2025-03-02,36,367.65,Hotel Las Estrellas,3.0,Madrid
15094,f07370e3-feeb-4893-a9ff-4ec4fb518a55,2bf0215f-7f7b-4cfb-9a37-d2022c492410,Anacleto,Toledo,anacleto.toledo@example.com,False,2025-02-07,2025-03-01,2025-03-02,38,144.35,Gran Hotel Madrid,4.0,Madrid
15095,1d4b9293-1733-45ce-8a8e-79d3ac4694eb,4ba34638-c43e-455f-886d-b3e3dd223a07,Máxima,Mayoral,máxima.mayoral@example.com,False,2025-02-08,2025-03-01,2025-03-02,29,463.32,Hotel Jardines del Rey,2.0,Madrid
15096,d6823ca7-e236-48b1-bf68-6b88d9b6534a,a017cb9c-160b-4b90-b4a9-4bdb2dce546a,Rafa,Alcaraz,rafa.alcaraz@example.com,False,2025-02-10,2025-03-01,2025-03-02,15,247.63,Hotel Palacio Imperial,1.0,Madrid
15097,6b26f923-22b2-4de7-b1d5-bce158361dee,5842d91d-6ca2-4174-920b-8a2e1ca852ba,Eugenio,Quintero,eugenio.quintero@example.com,False,2025-02-06,2025-03-01,2025-03-02,28,433.87,Hotel Puerta del Cielo,4.0,Madrid

In [20]:
### limpiamos los duplicados que coinciden en todos sus valores
df = df.drop_duplicates()

4. Validación de Unicidad y Claves Primarias

In [24]:
df['id_reserva'].nunique() == df.shape[0]  # Debe ser True si todos son únicos

True

In [25]:
df['id_hotel'].nunique() == df.shape[0]  # Debe ser True si todos son únicos

False

In [23]:
df['id_cliente'].nunique() == df.shape[0]  # Debe ser True si todos son únicos

False

5. Análisis de Formatos y Errores en Datos Categóricos

In [26]:
df['id_hotel'].value_counts()  # Ver valores únicos

id_hotel
28     559
6      543
36     542
13     541
114    537
27     536
38     534
103    533
2      531
128    530
14     528
131    524
186    522
48     519
135    518
40     516
113    515
15     514
19     511
194    511
33     508
35     506
49     506
3      501
47     498
181    493
117    489
43     485
29     450
Name: count, dtype: int64