In [1]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
import time

In [2]:
options = webdriver.ChromeOptions()
options.add_argument("window-size=1920x1080")
options.add_argument("--headless")

In [3]:
url = "https://all.accor.com/ssr/app/ibis/hotels/madrid-spain/open/index.es.shtml?compositions=1&stayplus=false&snu=false&hideWDR=false&accessibleRooms=false&hideHotelDetails=false&dateIn=2025-03-01&nights=1&destination=madrid-spain"

In [4]:
driver = webdriver.Chrome(options=options)
driver.get(url)
time.sleep(5)
hoteles = driver.find_elements(By.CLASS_NAME, "hotelblock__content")
print("Primer paso: busco todos los posibles hoteles")
print(len(hoteles))
for hotel in hoteles:
    nombre, estrellas = hotel.find_element(By.CLASS_NAME, "title").text.split("\n")   
    print("Aqui para cada hotel me muestra el nombre y las estrellas")
    precio = hotel.find_element(By.CLASS_NAME, "booking-price__number").text
    print("ahora me va a enseñar el precio por cada hotel")
    print(precio)
driver.close()
driver.quit()

Primer paso: busco todos los posibles hoteles
10
Aqui para cada hotel me muestra el nombre y las estrellas
ahora me va a enseñar el precio por cada hotel
161
Aqui para cada hotel me muestra el nombre y las estrellas
ahora me va a enseñar el precio por cada hotel
255
Aqui para cada hotel me muestra el nombre y las estrellas
ahora me va a enseñar el precio por cada hotel
172
Aqui para cada hotel me muestra el nombre y las estrellas
ahora me va a enseñar el precio por cada hotel
173
Aqui para cada hotel me muestra el nombre y las estrellas
ahora me va a enseñar el precio por cada hotel
107
Aqui para cada hotel me muestra el nombre y las estrellas
ahora me va a enseñar el precio por cada hotel
116
Aqui para cada hotel me muestra el nombre y las estrellas
ahora me va a enseñar el precio por cada hotel
90
Aqui para cada hotel me muestra el nombre y las estrellas
ahora me va a enseñar el precio por cada hotel
88
Aqui para cada hotel me muestra el nombre y las estrellas
ahora me va a enseñar el precio por cada hotel
85
Aqui para cada hotel me muestra el nombre y las estrellas
ahora me va a enseñar el precio por cada hotel
77

In [5]:
driver = webdriver.Chrome(options=options)
driver.get(url)
time.sleep(5)

# Lista para almacenar los datos
datos_hoteles = []

hoteles = driver.find_elements(By.CLASS_NAME, "hotelblock__content")
for hotel in hoteles:
    nombre = hotel.find_element(By.CLASS_NAME, "title").text.strip()
    print(nombre)
    # Extraer la valoración (número de estrellas de satisfacción del cliente)
    estrellas_element = hotel.find_element(By.CLASS_NAME, "ratings__score")
    estrellas = estrellas_element.text.strip().split()[0]  # Solo extrae el número, sin "En" o "/10
    print(estrellas)
    precio = hotel.find_element(By.CLASS_NAME, "booking-price__number").text
    print(precio)
    datos_hoteles.append({"nombre": nombre, "estrellas": estrellas, "precio": precio})
driver.close()
driver.quit()

ibis Styles Madrid Prado
3 Estrellas
4.7/
161
Novotel Madrid Center
4 Estrellas
4.6/
255
ibis Madrid Centro las Ventas
2 Estrellas
4.5/
172
Novotel Madrid City Las Ventas
4 Estrellas
4.6/
173
ibis budget Madrid Vallecas
1 Estrellas
4.3/
107
ibis Madrid Aeropuerto Barajas
2 Estrellas
4.4/
116
ibis Madrid Alcorcon Tresaguas
2 Estrellas
4.4/
90
ibis budget Madrid Aeropuerto
1 Estrellas
4/
88
ibis Madrid Alcobendas
2 Estrellas
4.4/
85
ibis budget Madrid Alcorcon Móstoles
2 Estrellas
4.5/
77

In [6]:
import re

driver = webdriver.Chrome(options=options)
driver.get(url)
time.sleep(5)

# Lista para almacenar los datos
datos_hoteles = []

hoteles = driver.find_elements(By.CLASS_NAME, "hotelblock__content")
for hotel in hoteles:
    # Extraer nombre del hotel y limpiar el texto
    nombre_completo = hotel.find_element(By.CLASS_NAME, "title").text.strip()
    nombre = re.sub(r"\n\d+\s*Estrellas", "", nombre_completo)  # Elimina "3 Estrellas", "2 Estrellas", etc.

    # Extraer la valoración (número de estrellas de satisfacción del cliente)
    estrellas_element = hotel.find_element(By.CLASS_NAME, "ratings__score")
    estrellas = estrellas_element.text.strip().split("/")[0]  # Toma solo el número sin "/"

    # Extraer precio del hotel y limpiarlo
    try:
        precio = hotel.find_element(By.CLASS_NAME, "booking-price__number").text.strip()
        precio = re.sub(r"[^\d]", "", precio)  # Elimina cualquier carácter no numérico (como €)
    except:
        precio = "No disponible"

    # Guardar en un diccionario limpio
    datos_hoteles.append({"nombre": nombre, "estrellas": estrellas, "precio": precio})

# Cerrar Selenium
driver.close()
driver.quit()

In [7]:
dictio_hoteles = datos_hoteles

In [8]:
dictio_hoteles

[{'nombre': 'ibis Styles Madrid Prado', 'estrellas': '4.7', 'precio': '161'},
 {'nombre': 'Novotel Madrid Center', 'estrellas': '4.6', 'precio': '255'},
 {'nombre': 'ibis Madrid Centro las Ventas',
  'estrellas': '4.5',
  'precio': '172'},
 {'nombre': 'Novotel Madrid City Las Ventas',
  'estrellas': '4.6',
  'precio': '173'},
 {'nombre': 'ibis budget Madrid Vallecas',
  'estrellas': '4.3',
  'precio': '107'},
 {'nombre': 'ibis Madrid Aeropuerto Barajas',
  'estrellas': '4.4',
  'precio': '116'},
 {'nombre': 'ibis Madrid Alcorcon Tresaguas',
  'estrellas': '4.4',
  'precio': '90'},
 {'nombre': 'ibis budget Madrid Aeropuerto', 'estrellas': '4', 'precio': '88'},
 {'nombre': 'ibis Madrid Alcobendas', 'estrellas': '4.4', 'precio': '85'},
 {'nombre': 'ibis budget Madrid Alcorcon Móstoles',
  'estrellas': '4.5',
  'precio': '77'}]

In [9]:
import pandas as pd
df_hot = pd.DataFrame(dictio_hoteles)
df_hot.head()

                           nombre estrellas precio
0        ibis Styles Madrid Prado       4.7    161
1           Novotel Madrid Center       4.6    255
2   ibis Madrid Centro las Ventas       4.5    172
3  Novotel Madrid City Las Ventas       4.6    173
4     ibis budget Madrid Vallecas       4.3    107

In [10]:
df_hot.rename(columns={"nombre": "nombre_hotel", "estrellas": "estrellas", "precio": "precio"}, inplace=True)

In [11]:
df_hot

                           nombre_hotel estrellas precio
0              ibis Styles Madrid Prado       4.7    161
1                 Novotel Madrid Center       4.6    255
2         ibis Madrid Centro las Ventas       4.5    172
3        Novotel Madrid City Las Ventas       4.6    173
4           ibis budget Madrid Vallecas       4.3    107
5        ibis Madrid Aeropuerto Barajas       4.4    116
6        ibis Madrid Alcorcon Tresaguas       4.4     90
7         ibis budget Madrid Aeropuerto         4     88
8                ibis Madrid Alcobendas       4.4     85
9  ibis budget Madrid Alcorcon Móstoles       4.5     77

In [12]:
import os

# Create directory if it does not exist
os.makedirs("ETL_IBISHOTELS/data", exist_ok=True)

df_hot.to_csv("ETL_IBISHOTELS/data/df_hot.csv", index=False)

PREGUNTAS
- COMO VOY A UNIVR LOS DATOS DE LA COMPETENCIA CON LOS DATOS SI NO HAY NINGUN CAMPO EN COMUN?